@page "/registration"
@using System.ComponentModel.DataAnnotations
@using BookShop.HttpApiClient.Models;
@inject IBookShopClient ShopClient
@inject NavigationManager maneger


<h3>Регистрация</h3>


<EditForm Model="@model" OnSubmit="@ProcessRegistration">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="Имя Фамилия" HelperText="Max. 8 characters"
                                  @bind-Value="model.Name" For="@(() => model.Name)" />
                    <MudTextField Label="Email" Class="mt-3"
                                  @bind-Value="model.Email" For="@(() => model.Email)" />
                    <MudTextField Label="Пароль" HelperText="Choose a strong password" Class="mt-3"
                                  @bind-Value="model.Password" For="@(() => model.Password)" InputType="InputType.Password" />
                    <MudTextField Label="Повторите пароль" HelperText="Repeat the password" Class="mt-3"
                                  @bind-Value="model.Password2" For="@(() => model.Password2)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
             
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <ValidationSummary/>
                }
            </MudPaper>
        </MudItem>
    </MudGrid>
</EditForm>
@code {
    RegisterAccountForm model = new RegisterAccountForm();
    bool success;

    public class RegisterAccountForm
    {
        [Required]
        [StringLength(20, ErrorMessage = "Имя должно быть не короче 3 символов", MinimumLength = 3)]
        public string Name { get; set; }

        [Required]
        [EmailAddress]
        public string Email { get; set; }

        [Required]
        [StringLength(30, ErrorMessage = "Пароль должен содердать как минимум 8 символов", MinimumLength = 8)]
        public string Password { get; set; }

        [Required]
        [Compare(nameof(Password))]
        public string Password2 { get; set; }

    }

    private async Task ProcessRegistration(EditContext context)
    {
        await ShopClient.Register(new Account()
        {
          Name = model.Name, Email = model.Email, Password = model.Password
        }, default);

        success = true;
        StateHasChanged();
    }

}


@*
<EditForm Model="@_model" OnValidSubmit="ProcessRegistration">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First name" HelperText="Max. 8 characters"
                                  @bind-Value="_model.Name" For="@(() => _model.Name)" />
                    <MudTextField Label="Email" Class="mt-3"
                                  @bind-Value="_model.Email" For="@(() => _model.Email)" />
                    <MudTextField Label="Password" HelperText="Choose a strong password" Class="mt-3"
                                  @bind-Value="_model.Password" For="@(() => _model.Password)" InputType="InputType.Password" />
                    <MudTextField Label="Password" HelperText="Repeat the password" Class="mt-3"
                                  @bind-Value="_model.Password2" For="@(() => _model.Password2)" InputType="InputType.Password" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Регистрация</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12">
            @if (_registrationInProgress)
                {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
                }
        </MudItem>
    </MudGrid>
</EditForm>
*@
